<section class="login">
  <div class="login-bg">
        <div class="container">
          <div class="card logincard" style="background-color: rgba(255, 255, 255, 0.79);">
            <div class="card-content">
                <div class="row">
                  <div class="col s12 m12 l4">
                    <br />
                    <blockquote style="border-color: rgba(255, 255, 255, 0);">
                      <h3>2018</h3>
                      <h3><strong>중앙대학교</strong></h3>
                      <h3>멋쟁이 사자처럼</h3>
                    </blockquote>
                  <hr />
                  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= f.error_notification %>
                  <div class="col s12 m12 l8">
                    <br>

                    <div class="container align-self-center">
                      <label class="label" for="user_email" style="color: black;">이메일</label>
                      <%= f.input :email, autofocus: true,label: false, placeholder:"Email" %>
                      <label class="label" for="user_email" style="color: black;">이름</label>
                      <%= f.input :name, autofocus: true,label: false,placeholder:"Name" %>
                      <label class="label" for="user_email" style="color: black;">무슨 팀?</label>
                      <%= f.input :team_id, required: true, autofocus: true,label: false,placeholder:"Team ID" %>
                      <label class="label" for="user_email" style="color: black;">비밀번호</label>
                      <%= f.input :password,placeholder:"Password", required: true,label: false %>
                      <label class="label" for="user_email" style="color: black;">비밀번호 확인</label>
                      <%= f.input :password_confirmation,placeholder:"Confirm Password",label: false, required: true %>
                      <br>
                      <div class="form-actions">
                        <%= f.button :submit, "Sign up" %>
                      </div>
                      <%= render "devise/shared/links" %>

                    <% end %>
                    </div>
                  </div>
                </div>
              </div>

            <br><br>
        </div>
      </div>

  </div>
</body>

<!--
<div class="login-template">
  <h2>Sign up</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="login-form-inputs">
      <%= f.input :email, autofocus: true,label: false,placeholder:"EMAIL" %>
      <%= f.input :name, autofocus: true,label: false,placeholder:"NAME" %>
      <%= f.input :team_id, required: true, autofocus: true,label: false,placeholder:"TEAM ID" %>
      <%= f.input :password,placeholder:"PASSWORD", required: true,label: false %>
      <%= f.input :password_confirmation,placeholder:"비밀번호를 다시 입력하세요",label: false, required: true %>
    </div>
    <%= render "devise/shared/links" %>
    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>
</div> -->
