
<section class="contact-logo">
  <p class="contact-title" style="color: #ff7f00">We're</p>
  <p class="contact-title">______</p>
  <p class="contact-title" style="color: #FFBF00">Lion</p>
</section>
<div class="app-template">
  <h4 style="text-align: center"><b><%=@contact.id%>번 contact 입니다.</b></h4>
  <br /><br />
  <table class="table" style="text-align: center">
  <thead class="bg-gray-dark">
    <tr>
      <th>작성자 email</th>
      <th>내용</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @contact.email%></td>
      <td><%= @contact.content%></td>
    </tr>
  </tbody>
    <!-- <h2>이메일 :<%= @contact.email%></h2>
    <h2>내용 : <%= @contact.content%></h2>
    <hr> -->
  </table>
  <br /><br />
  <a class="btn btn-outline-warning" role="button" href="/contact/admincontact">목록으로가기</a>
</div>
