<body class="container login">
<div class="login-bg">
  <div class="login-template">
      <h2>Are you in CAU-likelion?</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="login-form-inputs">
          <%= f.input :email, class: "form-control",placeholder:"Enter email",required: false, autofocus: true,label: false %>
          <%= f.input :password, placeholder:"Enter password",required: false,label: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <%= render "devise/shared/links" %>
        <div class="form-actions">
          <%= f.button :submit, "Log in" %>
        </div>
      <% end %>
  </div>
</div>
