

<section class="login">
  <div class="login-bg">
      
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="container align-self-center">
            <label class="label" for="user_email">
              EMAIL 
            </label>
            <%= f.input :email, class: "form-control",placeholder:"ex) caulion@likelion.org",required: false, autofocus: true,label: false %>
            <label for="user_password" class="label">
              비밀번호
            </label>
            <%= f.input :password, placeholder:"",required: false,label: false %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "로그인" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
  </div>
</section>
