
<section class="team-logo">
  <div class="team-typewriter">
    <h1>WELCOME TO CAU-LION<br>
      멋쟁이 사자처럼 TEAM <%=@teamid%> 스터디방입니다.</h1>
  </div>
</section>

<div class="app-template">
  <blockquote class="team-blq">
             <h3>2018 중앙대학교 멋쟁이 사자처럼 팀원소개  - <strong>TEAM<%=@teamid%></strong></h3>
  </blockquote>

  <div class="team-studyButton">
    <%= link_to '스터디룸으로 이동하기', posts_path(@teamid), class: "btn btn-outline-warning" %>
  </div>


  <div class="container text-center py-5">
    <h1 style="font-family: 'Quicksand', sans-serif; style=color: #A2B9DB;"><strong>TEAM<%=@teamid%></strong></h1>
    <hr><br>
    <h4 style="font-family: 'Quicksand', sans-serif; style=color: #629ef6;"><strong>TUTORS</strong></h4>
    <div class="row" style="display: flex; justify-content: center;">
      <div class="align-items-center col-md-5 my-4">
          <div class="card-group">
            <% @admins.each do |user| %>
              <div class="card text-center">
                <% if user.image.url.nil? %>
                <%= image_tag "download.png", :class =>"card-img-top user-profile-image"  %>
                <% else %>
                <%= image_tag "#{user.image.url}", :class =>"card-img-top user-profile-image"  %>
                <% end %>
                <!-- <img class="card-img-top" src="/assets/mkicon.jpg" alt="Card image cap"> -->
                  <div class="card-body">
                    <h5 class="card-title"><%=user.name%></h5>
                    <p class="card-text"><small class="text-muted"><%=user.roles.last.name%></small></p>
                    <div class="overlay text-center"><%=user.roles.last.name%></div>
                  </div>
              </div>
            <% end %>
          </div>
      </div>
    </div>
    <br /> <br />
    <h4 style="font-family: 'Quicksand', sans-serif; style=color: #629ef6;"><strong>STUDENTS</strong></h4>
  <div style="display: flex; justify-content: center;">
    <div class="align-items-center col-md-3 my-2">
        <div class="card-group">
          <% @students.each do |user| %>
          <div class="card">
            <% if user.image.url.nil? %>
              <%= image_tag "download.png", :class =>"card-img-top user-profile-image"  %>
            <% else %>
              <%= image_tag "#{user.image.url}", :class =>"card-img-top user-profile-image"  %>
            <% end %>
              <div class="card-body">
                <h5 class="card-title"><%=user.name%></h5>
                <p class="card-text"><small class="text-muted"><%=user.roles.last.name%></small></p>
                <div class="overlay text-center"><%=user.roles.last.name%></div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
