
<section class="team-logo">
  <!-- <div class="team-typewriter">
    <h1>WELCOME TO CAU-LION<br>
      멋쟁이 사자처럼 TEAM <%=@teamid%> 스터디방입니다.</h1>
  </div> -->
  <div class="home-typestyle">

  <h4 class="firstpage" style=>
    CAULION <span class="sixth">TEAM <%=@teamid%> </span> 의 스터디 방입니다.
  </h4>
  <h4 style="text-align: center;">
      <a href="" class="typewrite" data-period="2000" data-type='["공부하란 말이얏!"]'>
        <span class="wrap"></span>
      </a>
    </h4>
  </div>


</section>

<div class="app-template">
  <blockquote class="team-blq">
             <h3>2018 중앙대학교 멋쟁이 사자처럼 팀원소개  - <strong>TEAM<%=@teamid%></strong></h3>
  </blockquote>

  <div class="team-studyButton">
    <%= link_to '스터디룸으로 이동하기', posts_path(@teamid), class: "btn btn-outline-warning" %>
  </div>


  <div class="container text-center py-5">
    <h1 style="font-family: 'Quicksand', sans-serif; style=color: #A2B9DB;"><strong>TEAM<%=@teamid%></strong></h1>
    <hr><br>
    <h4 style="font-family: 'Quicksand', sans-serif; style=color: #629ef6;"><strong>TUTORS</strong></h4>
    <div class="row" style="display: flex; justify-content: center;">
      <div class="align-items-center col-md-5 my-4">
          <div class="card-group">
            <% @admins.each do |user| %>
              <div class="card text-center">
                <% if user.image.url.nil? %>
                <%= image_tag "download.png", :class =>"card-img-top user-profile-image"  %>
                <% else %>
                <%= image_tag "#{user.image.url}", :class =>"card-img-top user-profile-image"  %>
                <% end %>
                <!-- <img class="card-img-top" src="/assets/mkicon.jpg" alt="Card image cap"> -->
                  <div class="card-body">
                    <h5 class="card-title"><%=user.name%></h5>
                    <p class="card-text"><small class="text-muted"><%=user.roles.last.name%></small></p>
                    <div class="overlay text-center"><%=user.roles.last.name%></div>
                  </div>
              </div>
            <% end %>
          </div>
      </div>
    </div>
    <br /> <br />
    <h4 style="font-family: 'Quicksand', sans-serif; style=color: #629ef6;"><strong>STUDENTS</strong></h4>
  <div style="display: flex; justify-content: center;">
    <div class="align-items-center col-md-3 my-2">
        <div class="card-group">
          <% @students.each do |user| %>
          <div class="card">
            <% if user.image.url.nil? %>
              <%= image_tag "download.png", :class =>"card-img-top user-profile-image"  %>
            <% else %>
              <%= image_tag "#{user.image.url}", :class =>"card-img-top user-profile-image"  %>
            <% end %>
              <div class="card-body">
                <h5 class="card-title"><%=user.name%></h5>
                <p class="card-text"><small class="text-muted"><%=user.roles.last.name%></small></p>
                <div class="overlay text-center"><%=user.roles.last.name%></div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
var TxtType = function(el, toRotate, period) {
      this.toRotate = toRotate;
      this.el = el;
      this.loopNum = 0;
      this.period = parseInt(period, 10) || 2000;
      this.txt = '';
      this.tick();
      this.isDeleting = false;
  };

  TxtType.prototype.tick = function() {
      var i = this.loopNum % this.toRotate.length;
      var fullTxt = this.toRotate[i];

      if (this.isDeleting) {
      this.txt = fullTxt.substring(0, this.txt.length - 1);
      } else {
      this.txt = fullTxt.substring(0, this.txt.length + 1);
      }

      this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

      var that = this;
      var delta = 200 - Math.random() * 100;

      if (this.isDeleting) { delta /= 2; }

      if (!this.isDeleting && this.txt === fullTxt) {
      delta = this.period;
      this.isDeleting = true;
      } else if (this.isDeleting && this.txt === '') {
      this.isDeleting = false;
      this.loopNum++;
      delta = 500;
      }

      setTimeout(function() {
      that.tick();
      }, delta);
  };

  window.onload = function() {
      var elements = document.getElementsByClassName('typewrite');
      for (var i=0; i<elements.length; i++) {
          var toRotate = elements[i].getAttribute('data-type');
          var period = elements[i].getAttribute('data-period');
          if (toRotate) {
            new TxtType(elements[i], JSON.parse(toRotate), period);
          }
      }
      // INJECT CSS
      var css = document.createElement("style");
      css.type = "text/css";
      css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
      document.body.appendChild(css);
  };
</script>
