<div class="app-template">

<!--http://blog.naver.com/PostView.nhn?blogId=qls0147&logNo=220627002837 침고 -->

  <div class="user-container">
    <div class="user-profile">
      <% if @user.image.url.nil? %>
      <img src="/assets/img/download.png" class="user-profile-image" alt="profile">
      <p>프로필이 없습니다. 프로필을 등록해주세요</p>
      <%= form_tag '/users/profileImage', method: :post, class: 'user-profile-form',multipart: true do %>
        <input type="file" name="image" value="imgae">
        <input type="hidden" name="user" value="<%=@user.id%>">
        <input type="submit">
      <% end %>
      <% else %>
      <img src="<%=@user.image.url%>" class="user-profile-image" alt="profile">
      <% end %>
    </div>


    <!-- user info -->
    <hr class="w-100 hidden-lg-up">

    <div class="user-info">
      <div class="col-12 col-lg-6 offset-lg-0 col-xl-4 d-flex flex-column">
        <span class="small mb-1 hidden-md-down"> <h3><%=@user.name%></h3></span>
        <span class="quote mb-1 font-weight-light small h-3rem of-y-auto no-scrollbar">
        Team: <%=@user.team_id%>
        </span>
        <span class="quote mb-1 font-weight-light small h-3rem of-y-auto no-scrollbar">
          <%= @user.major%>
        </span>
      </div>
    </div>

    <!-- <i class="xi-cog xi-1x"></i> -->
      <!-- user info -->
    <section class="user-section">
      <div class="user-container">
        <a href="/user/index">
          <span class="text">Works</span>
          <span class="line -right"></span>
          <span class="line -top"></span>
          <span class="line -left"></span>
          <span class="line -bottom"></span>
        </a>
        <a href="/user/index">
          <span class="text">Q&As</span>
          <span class="line -right"></span>
          <span class="line -top"></span>
          <span class="line -left"></span>
          <span class="line -bottom"></span>
        </a>
        <a href="/user/index">
          <span class="text">Boards</span>
          <span class="line -right"></span>
          <span class="line -top"></span>
          <span class="line -left"></span>
          <span class="line -bottom"></span>
        </a>
      </div>

    </section>
    <hr class="w-100 hidden-lg-up">







  </div>
</div>
