<section class="team-logo">
  <div class="team-typewriter">
    <h1>WELCOME TO CAU-LION<br>
      멋쟁이 사자처럼 TEAM <%=@teamid%> 스터디방입니다.</h1>
  </div>
</section>

<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<div class="app-template">


<h1><%=@teamid%>팀의 스터디방</h1>

<table class="table table-hover">
  <thead>
    <tr >

      <th scope="cols" colspan=40% >제목</th>
      <th scope="cols" colspan=10%>작성자</th>
      <th scope="cols" colspan=10%><img src="/assets/img/like.png" alt="" class="post-like-img">Likes</th>
      <th class="post-header" scope="cols" colspan=30%>관리</th>
        <th scope="cols" colspan=10% >작성날짜</th>
    </tr>
  </thead>

  <tbody>
    <% if @posts.empty? %>
      <p>글이 없습니다.</p>
    <% else %>
    <tr>
    <% @posts.each do |post| %>


        <td colspan=40% ><%=post.title%></td>
        <td colspan=10%>
            <% @user = User.where(:id => post.user_id).first%>
            <%= @user.name %>
        </td>
        <td colspan=10%>
          <%= post.likes.size %>
        </td>
        <td colspan=30% class="post-header">
        <%= link_to 'Show', post_path(@teamid,post), class: "btn btn-outline-warning"%>
        <% if post.user_id == current_user.id %>
          <%= link_to 'Edit', edit_post_path(@teamid,post), class: "btn btn-outline-warning" %>
          <%= link_to 'Destroy', destroy_path(@teamid,post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning" %>
        <% end %>
      </td>
      <td colspan=10% scope="row"><%=post.created_at%></th>
    </tr>

    <% end %>
    <% end %>
  </tbody>
</table>

<br>
<div class="post-paginate">
  <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>

<%= link_to 'New Post', new_post_path, class: "btn btn-outline-warning" %>
</div>
