<div class="template">
<p id="notice"><%= notice %></p>

<h1><%=@teamid%>팀의 스터디방</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="1" >Num</th>
      <th colspan="1" >제목</th>
      <th colspan="1">작성자</th>
      <th colspan="3">관리</th>
    </tr>
  </thead>

  <tbody>
    <% if @posts.empty? %>
      <p>글이 없습니다.</p>
    <% else %>
          <tr>
    <% @posts.each do |post| %>

        <th scope="row">1</th>
        <td><%=post.title%></td>
        <td>
            <% @user = User.where(:id => post.user_id).first%>
            <%= @user.name %>
        </td>
        <td><%= link_to 'Show', post_path(@teamid,post), class: "btn btn-outline-warning"%></td>
        <td><%= link_to 'Edit', edit_post_path(@teamid,post), class: "btn btn-outline-warning" %></td>
        <td><%= link_to 'Destroy', destroy_path(@teamid,post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-warning" %></td>
      </tr>

    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path, class: "btn btn-outline-warning" %>
</div>
