<div class="template">
  <h1>제목</h1>
    <%=@post.title%>
  <h2>내용</h2>
    <%=@post.content.html_safe%>
    <% if (@post.attachment.blank?) %>

    <% else %>
    <%= link_to "Download file - #{File.basename(@post.attachment_url)}", @post.attachment_url %>
    <% end %>
    <%= link_to 'Edit', edit_post_path(@teamid,@post) %> |
    <%= link_to 'Back', posts_path %>
</div>
