<div class="app-template">
  <div class="card ">
    <div class="post-title card-header text-center">
      <h1><%=@post.title%><h1>
    </div>
    <div class="post-content">
      <%=@post.content.html_safe%>
    </div>
    <div class="card-footer text-muted">
      <% if (@post.attachment.blank?) %>

      <% else %>
      <%= link_to "Download file", @post.attachment_url %>
      <% end %>
      <br/>
      <%= link_to 'Edit', edit_post_path(@teamid,@post) %> |
      <%= link_to 'Back', posts_path %>
    </div>


    <div class="post-comment-container">
      <h2>Comments</h2>
      <% @post.comments.each do |comment| %>
        <p>
          <b>댓쓴이</b>
          <%= comment.commenter %>
        </p>
        <div class="row">
          <div class="col-md-8">
            <p>
              <%= comment.body %>
            </p>
          </div>
          <div class="col-md-4">
            <p>
              <%= link_to 'X',  [comment.post, comment],
                           :confirm => '정말 지울거에영?',
                           :method => :delete %>
            </p>
          </div>

        </div>

      <% end %>

      <%= form_for([@post, @post.comments.build]) do |f| %>
        <div class="field">
          <b><%= f.label :작성자 %></b> <%= current_user.name%>
        </div>
        <div class="field">
          <%= f.text_area :body,cols: 100%>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>


  </div>

</div>
