<!DOCTYPE html>
<html>
  <head>
    <title lang="ko">CAU-LION :: 멋쟁이사자처럼 중앙대학교</title>
    <%= javascript_include_tag 'application' %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  "application" %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/kopubbatang.css">

    <!-- bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- Jiseon's Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/custom.css" />

  </head>

  <body>

    <!-- 우리 nav bar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light transparent-nav nav-custom" data-spy="affix">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        MENU
      </button>

      <h1 class="app-brand">
          <a class="nav-link px-lg-3" href="/"><img class="likelion-logo pr-4 mr-4" src="/assets/img/WhiteBigLogo-iloveimg-resized.png"></a>
     	  <!-- <a class="navbar-brand" href="/">CAU LIKELION</a> -->
      </h1>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav nav-custom">
          <li class="nav-item active">
            <a class="nav-link px-lg-3 nav-custom" href="/"> HOME <span class="sr-only">(현재 페이지)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-lg-3 nav-custom" href="/contact">CONTACT</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-custom" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              TEAM
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/teams/1">TEAM1</a>
              <a class="dropdown-item" href="/teams/2">TEAM2</a>
              <a class="dropdown-item" href="/teams/3">TEAM3</a>
            </div>
          </li>

        </ul>
      </div>
      <div class="app-user">
        <% if user_signed_in? %>
          <span class="app-user col-6" ><%= current_user.name%></span>
          <a class="app-user col-6" href="/users/<%= current_user.id %>">MyPage</a>
          <a class="app-user col-6" href="/users/sign_out">로그아웃</a>
        <% else %>
          <a class="app-user col-6" href="/users/sign_in">로그인</a>
        <% end %>
      </div>
      </div>
    </nav>

    <%= tinymce_assets %>

    <div id="mg">
      <div>
        <%= yield %>
      </div>
      <!-- jQuery CDN -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>


      <!-- bootstrap CDN -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <script>

        </script>

  </body>
</html>
